# Ignore Everything
*

# But...gitignore file
!.gitignore

# But...Help Module
!Help/
!Help/**

# But...Parrot Module
!Parrot/
!Parrot/**

# But...EchoLink Module
!EchoLink/
!EchoLink/**

# But...RSSI Module (Bob Iannucci, W6EI; vendored from bitbucket.org/w6ei/openrepeater_module_rssi)
!RSSI/
!RSSI/**