/* Module CSS */

#digitalWrap, #analogWrap {
	overflow: hidden;
}

.sensorRow {
	background-color: #f0f0f0;
    overflow-x: auto;
    white-space: normal;
   	min-height: 38px;
	padding: 5px;
	width: 100%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.sensorRow.additional {
	margin-top: 8px;
}

.sensorRow span {
    display: inline-block;
    white-space: normal;
	margin: 0 4px;
	padding: 4px;
	float: left;
}

.sensorRow span.num {
	font-size: 24px;
	font-weight: bold;
	color: #666;
	padding-top: 8px;
}

.digitalLabel, .analogLabel {
	min-width: 100px;
}

.digitalType {
	max-width: 120px;
}

.digitalGPIO, .analogGPIO {
	width: 35px;
	text-align: center;
}

.digitalActive {
	max-width: 120px;
}

.analogHysterisis {
	max-width: 80px;	
	text-align: center;
}

a#addDigital, #removeDigital, a#addAnalog, #removeAnalog {
float:left;
margin-top: 12px;
margin-left: 5px;
}
